<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pi_Serasa_Projeto_Saude_lnwk.Properties.Settings.conexao"
            connectionString="server=localhost;uid=root;pwd=senac;database=cadastro" />
    </connectionStrings>
</configuration>